<html>
    <head>
        <title>Meadowlark Travel</title>
    </head>
    <body>
        Hi!! Welcome to Meadowlark Travels.
        <img src="/img/rome2.jpg" alt="logo">
        {{{body}}}
    </body>
</html>